
body{
  background-color: #EAEAEA;
}

#title{
  margin: auto;
  text-align: center;
}

#main{
  width: 75%;
  margin: auto;
  background-color: #476E72;
}

#description{
  text-align: center;
}

#survey-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.fieldset{
  grid-column: 1/3;
}
